 <div class="comments" ng-repeat="disc in discuts">
          <div class="comment media">
              <div class="media-left">
                <a class="avatar avatar-lg" href="javascript:void(0)">
                  <img src="/portraits/7.jpg" alt="..."> 
                </a>
              </div>
              <div class="comment-body media-body">
                <a class="comment-author" href="javascript:void(0)">{{disc.username}}</a>
                <div class="comment-meta">
                  <span class="date">{{$root.fromNow(disc.createdAt)}}</span>
                </div>
                 <div class="dropdown comment-more pull-right">
                  <a href="javascript:void(0)" class=" dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-animation="scale-up" role="button">
                    <span  class="icon md-more-vert"></span>
                  </a>

                  <ul class="dropdown-menu" role="menu">
                    <li role="presentation">
                      <a href="" role="menuitem" ng-click="remove(disc)">
                      <i class="icon fa fa-delete" aria-hidden="true" ></i> Delete</a>
                    </li>
                   
                  </ul>
                </div>
                <div class="comment-content">
                  <p>{{disc.text}}</p>
                </div>
                <div class="comment-actions">
                  <a class="text-like icon glyphicon glyphicon-thumbs-up" ng-class="{'active':disc.likers.indexOf($root.currentUser._id) !== -1}" href="javascript:void(0)" role="button" ng-click="like(disc)"></a>
                 <a class="text-like icon glyphicon glyphicon-thumbs-down" ng-class="{'active':disc.dislikers.indexOf($root.currentUser._id) !== -1}" href="javascript:void(0)" role="button" ng-click="dislike(disc)"></a>
                  <a class="text-like icon wb-heart" ng-class="{'active':disc.favouriteTo.indexOf($root.currentUser._id) !== -1}" href="javascript:void(0)" role="button" ng-click="makeFavourite(disc)"></a>
                  <a class="active" href="javascript:void(0)" role="button" ng-click="canReply=!canReply">Reply</a>
                  <a class="active" href="javascript:void(0)" role="button" ng-click="loadComments=true">Comments</a>
                </div>
                <div ng-if="canReply">
                  <div ng-include="'client/discuts/templates/inputView.ng.html'"></div>
                </div>
                 <div ng-if="loadComments" ng-include="'client/discuts/templates/commentsView.ng.html'" ng-controller="DiscutsCtrl" ng-init="init(disc._id)">

                </div>
              </div>
            </div>
          </div>